[submodule "src/library/core"]
	path = src/library/core
	url = https://github.com/sauveurXrawk/stunning-octo-goggles.git
[submodule "src/library/components"]
	path = src/library/components
	url = https://github.com/sauveurXrawk/bookish-octo-memory.git
